# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db